* {
    margin: 0;
    padding: 0;
}

.none {
    display: none;
}

.open {
    display: block;
}

body {
    width: 100%;
    height: 2000px;
    background-image: url(./img/biejing.png);
    background-size: cover;
    color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav {
    display: flex;
    justify-content: center;
    width: 99%;
    height: 104px;
    /* background-color: rgb(188, 185, 180); */
    border-bottom: 5px solid rgb(255, 255, 255);
}

nav ul {
    width: 50%;
    height: 124px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: nowrap;
}

nav ul li {
    width: 60px;
    height: 52px;
    line-height: 52px;
}

nav ul li a {
    font-size: 30px;
    transition: 0.2s;
}

nav ul li a:hover {
    color: red;
}

nav .right_user {
    position: relative;
    right: -23%;
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height: 600px;
    /* border: 1px solid darkgray; */
}

main .top {
    margin-top: 60px;
    width: 100%;
    height: 60px;
    border: 1px solid black;
}

main .text,
.top,
.text_ {
    display: flex;
    justify-content: center;
    align-items: center;
}

main .text_ p {
    font-size: 40px;
    font-weight: 900;
    text-align: center;
}

main .text_ i {
    width: 30px;
    height: 20px;
    background-color: aliceblue;
    border-radius: 2px;
}

/* 下方导航栏鼠标点击 */
main ul {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

main ul li {
    position: relative;
    font-size: 32px;
    transition: all 0.4s;
    cursor: pointer;

}

main ul li::after {
    position: absolute;
    top: 5px;
    left: -10px;
    content: '';
    display: block;
    width: 60px;
    height: 30px;
    background-color: rgb(49, 100, 96, 0.4);
}

.bacolor {
    border-bottom: 10px solid rgb(43, 216, 118);
    border-radius: 2px;
}

/* 结束css */

article {
    position: relative;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height: 500px;
    border: 1px solid #ffffff;
    display: flex;
    flex-direction: row;
    display: none;
}

article .aside_left {
    width: 50%;
    height: 100%;
}

article .aside_left h1 {
    font-size: 114px;
    color: rgb(196, 215, 20, 0.5);

}

article .aside_left p {
    font-size: 26px;

}

article .aside_right {
    position: absolute;
    left: 50%;
    top: 0%;
    width: 50%;
    height: 100%;
}

article .aside_right img {
    width: 100%;
    height: 100%;
}